Repository orendain/DemeoMods, changes with the labels that .github/labeler.yml gives for each.
All labels: area: advancedstats, area: common, area: houserules/configuration, area: houserules/core, area: houserules/essentials, area: roomcode, area: roomfinder, area: skipintro

.github/labeler.yml:

'area: advancedstats':
- AdvancedStats/**

'area: common':
- Common/**

'area: houserules/configuration':
- HouseRules_Configuration/**

'area: houserules/core':
- HouseRules_Core/**

'area: houserules/essentials':
- HouseRules_Essentials/**

'area: roomcode':
- RoomCode/**

'area: roomfinder':
- RoomFinder/**

'area: skipintro':
- SkipIntro/**

WIP dump.
  Common/Common.csproj
  Common/UI/Element/HangoutsElementCreator.cs
  Common/UI/Environments.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HangoutsGameRacer.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  RoomFinder/RoomFinder.csproj
Labels: area: common, area: houserules/configuration, area: houserules/core, area: houserules/essentials, area: roomfinder

Dependency inject an `IElementCreator` into Page stacks rather than creating one internally.
  Common/UI/PageStack.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Configuration/UI/RulesetListPanelVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: area: common, area: houserules/configuration, area: roomfinder

Adjust `Notification.ShowGoldenText()` to be compatible with update.
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
Labels: area: houserules/essentials

Clean up commented code.
  Common/UI/Element/HangoutsElementCreator.cs
Labels: area: common

Update Demeo dependencies used in the GitHub workflow to match updated 2023-05-16 dependencies.
  .github/workflows/houserules.yml
Labels: none

Update `RoomFinder` mod for compatibility with 2023-05-16 Demeo update. (#467)
  .github/workflows/roomfinder.yml
  Common/Common.csproj
  Common/CommonModule.cs
  Common/Patcher.cs
  Common/UI/Element/HangoutsElementCreator.cs
  RoomFinder/Patcher.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/SharedState.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
Labels: area: common, area: roomfinder

Fixes for 5-16-23 Demeo Patch and more...
  Common/Common.csproj
  Common/CommonModule.cs
  Common/Patcher.cs
  Common/UI/Element/HangoutsElementCreator.cs
  Common/UI/Element/IElementCreator.cs
  Common/UI/Environments.cs
  Common/UI/PageStack.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Configuration/UI/RulesetListPanelVr.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HangoutsGameRacer.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/Rules/EnemyAttackScaledRule.cs
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  HouseRules_Essentials/Rules/PotionAdditionOverriddenRule.cs
  HouseRules_Essentials/Rulesets/DemeoRevolutions.cs
  RoomFinder/Patcher.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/SharedState.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: area: common, area: houserules/configuration, area: houserules/core, area: houserules/essentials, area: roomfinder

Update workflow dependencies.
  .github/workflows/houserules.yml
  .github/workflows/roomfinder.yml
Labels: none

Add awareness of two different Hangouts scene index for differing Oculus vs Steam.
  Common/UI/Element/VrElementCreator.cs
  Common/UI/Environments.cs
Labels: area: common

Update HouseRules for compatibility with Demeo's 2023-05-16 update. (#470)
  .github/workflows/houserules.yml
  .github/workflows/roomfinder.yml
  Common/Common.csproj
  Common/UI/Element/HangoutsElementCreator.cs
  Common/UI/Element/VrElementCreator.cs
  Common/UI/Environments.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HangoutsGameRacer.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  RoomFinder/RoomFinder.csproj
Labels: area: common, area: houserules/configuration, area: houserules/core, area: houserules/essentials, area: roomfinder

Dependency inject an `IElementCreator` into Page stacks rather than creating one internally. (#471)
  Common/UI/PageStack.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Configuration/UI/RulesetListPanelVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: area: common, area: houserules/configuration, area: roomfinder

Replace deprecated/obsolete MelonLoader methods with preferred ones.
  Common/CommonModule.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Essentials/EssentialsMod.cs
  RoomCode/RoomCodeMod.cs
  RoomFinder/RoomFinderMod.cs
  SkipIntro/SkipIntroMod.cs
Labels: area: common, area: houserules/configuration, area: houserules/core, area: houserules/essentials, area: roomcode, area: roomfinder, area: skipintro

Use MelonLoader-provided Harmony instance instead of creating instances of them.
  AdvancedStats/AdvancedStatsMod.cs
  Common/CommonModule.cs
  HouseRules_Core/CoreMod.cs
  RoomCode/RoomCodeMod.cs
  RoomFinder/RoomFinderMod.cs
  SkipIntro/SkipIntroMod.cs
Labels: area: advancedstats, area: common, area: houserules/core, area: roomcode, area: roomfinder, area: skipintro

Fix formatting, remove unused imports.
  AdvancedStats/Properties/AssemblyInfo.cs
  Common/UI/Environments.cs
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Core/LifecycleDirector.cs
  RoomCode/README.md
  RoomFinder/RoomFinderMod.cs
Labels: area: advancedstats, area: common, area: houserules/configuration, area: houserules/core, area: roomcode, area: roomfinder

Fixes Oculus HouseRules menu issues
  Common/Common.csproj
  HouseRules_Configuration/HouseRules_Configuration.csproj
  RoomFinder/RoomFinder.csproj
Labels: area: common, area: houserules/configuration, area: roomfinder

Fix menu issue and more...
  Common/Common.csproj
  Common/UI/Element/HangoutsElementCreator.cs
  Common/UI/Element/IElementCreator.cs
  Common/UI/Element/VrElementCreator.cs
  Common/UI/Environments.cs
  Common/UI/PageStack.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/CHANGELOG.md
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Configuration/UI/HouseRulesUiHangouts.cs
  HouseRules_Configuration/UI/HouseRulesUiNonVr.cs
  HouseRules_Configuration/UI/HouseRulesUiVr.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  RoomFinder/.github_changelog_generator
  RoomFinder/CHANGELOG.md
  RoomFinder/RoomFinder.csproj
  RoomFinder/RoomFinderMod.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
Labels: area: common, area: houserules/configuration, area: roomfinder

Update Build Version for new release
  HouseRules_Core/BuildVersion.cs
Labels: area: houserules/core

Update RoomFinder version
  RoomFinder/BuildVersion.cs
Labels: area: roomfinder

Use `var` style instead of explicit types. Removed redundant code. Fixed some capitilization. Reduced nesting by restructuring some condition flows.
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardChestAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardEnergyAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/EnemyRespawnDisabledRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  HouseRules_Essentials/Rules/MonsterDeckOverriddenRule.cs
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceUseWhenKilledOverriddenRule.cs
  HouseRules_Essentials/Rules/PotionAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules_Essentials/Rules/SpawnCategoryOverriddenRule.cs
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
  HouseRules_Essentials/Rulesets/ItsATrapRuleset.cs
Labels: area: houserules/essentials

Remove accidental copy/paste.
  RoomCode/README.md
Labels: area: roomcode

Update MelonLoader dependencies for GitHub workflow.
  .github/workflows/advancedstats.yml
  .github/workflows/houserules.yml
  .github/workflows/roomcode.yml
  .github/workflows/roomfinder.yml
  .github/workflows/skipintro.yml
Labels: none

Update build versions
  HouseRules_Core/BuildVersion.cs
  RoomFinder/BuildVersion.cs
Labels: area: houserules/core, area: roomfinder

Remove references to now-unneeded button handler for Hangouts.
  Common/Common.csproj
  Common/CommonModule.cs
  Common/Patcher.cs
  Common/UI/Element/HangoutsElementCreator.cs
  HouseRules_Configuration/ConfigurationMod.cs
  RoomFinder/RoomFinderMod.cs
Labels: area: common, area: houserules/configuration, area: roomfinder

Apply general maintenance. (#474)
  .github/workflows/advancedstats.yml
  .github/workflows/houserules.yml
  .github/workflows/roomcode.yml
  .github/workflows/roomfinder.yml
  .github/workflows/skipintro.yml
  AdvancedStats/AdvancedStatsMod.cs
  AdvancedStats/Properties/AssemblyInfo.cs
  Common/CommonModule.cs
  Common/UI/Environments.cs
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/LifecycleDirector.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardChestAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardEnergyAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/EnemyRespawnDisabledRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  HouseRules_Essentials/Rules/MonsterDeckOverriddenRule.cs
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceUseWhenKilledOverriddenRule.cs
  HouseRules_Essentials/Rules/PotionAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules_Essentials/Rules/SpawnCategoryOverriddenRule.cs
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
  HouseRules_Essentials/Rulesets/ItsATrapRuleset.cs
  RoomCode/RoomCodeMod.cs
  RoomFinder/RoomFinderMod.cs
  SkipIntro/SkipIntroMod.cs
Labels: area: advancedstats, area: common, area: houserules/configuration, area: houserules/core, area: houserules/essentials, area: roomcode, area: roomfinder, area: skipintro

Remove references to now-unneeded button handler for Hangouts. (#475)
  Common/Common.csproj
  Common/CommonModule.cs
  Common/Patcher.cs
  Common/UI/Element/HangoutsElementCreator.cs
  HouseRules_Configuration/ConfigurationMod.cs
  RoomFinder/RoomFinderMod.cs
Labels: area: common, area: houserules/configuration, area: roomfinder

Update Build Version for new release (#473)
  HouseRules_Core/BuildVersion.cs
  RoomFinder/BuildVersion.cs
Labels: area: houserules/core, area: roomfinder
