Repository orendain/DemeoMods, pull requests merged in 2022-03, with the labels that each got.

#217 Docs did not show that CardLimit rule was skirmish only.
  HouseRules_Essentials/README.md
Labels: type: documentation, area: houserules/essentials

#216 Control whether cards are returned to players hand when cast on someone already at max.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/RegainAbilityIfMaxxedOutOverriddenRule.cs
  docs/Arachnophobia.json
Labels: type: feature, area: houserules/essentials

#218 Improved rule for StatusEffectsConfig.
  HouseRules_Essentials/Rules/StatusEffectConfigRule.cs
Labels: type: feature, area: houserules/essentials

#223 Add Hangouts table anchor to DemeoResources helper.
  Common/UI/DemeoResource.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  RoomFinder/UI/RoomFinderUI.cs
Labels: type: feature, area: utils/ui

#219 Allow backstab to be configured for multiple pieces.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/BackstabConfigOverriddenRule.cs
Labels: type: feature, area: houserules/essentials

#227 Add different colored buttons to common UI helper.
  Common/UI/DemeoResource.cs
  Common/UI/UiHelper.cs
Labels: type: feature, area: utils/ui

#228 Provide visual feedback of selected ruleset on UI.
  Common/UI/UiHelper.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetSelectionPanel.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
Labels: type: feature, area: houserules/configuration

#230 Perform some maintenance on rules.
  HouseRules_Essentials/Rules/AbilityActionCostAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityBackstabAdjustedRule.cs
  HouseRules_Essentials/Rules/BackstabConfigOverriddenRule.cs
  HouseRules_Essentials/Rules/StatusEffectConfigRule.cs
Labels: type: chore, area: houserules/essentials

#232 Move images and rulesets to sub-directories to prepare for bundling rulesets with releases.
  DemeoMods.sln
  HouseRules_Core/README.md
  HouseRules_Essentials/README.md
  README.md
  docs/images/house-rules-logo1.png
  docs/images/house-rules-logo2.png
  docs/images/houserules_menu_screenshot.jpg
  docs/images/houserules_screenshot.jpg
  docs/images/roomfinder_screenshot.jpg
  docs/images/skipintro_icon.jpg
  docs/rulesets/Arachnophobia.json
  docs/rulesets/LuckyDip.json
Labels: type: chore, area: houserules/core

#234 Two more example JSON rulesets to help with documentation etc.
  docs/rulesets/3x3 Potions and Buffs.json
  docs/rulesets/Better Sorcerer.json
Labels: type: feature, area: houserules/configuration

#224 Add HouseRules UI near the table in the hangouts space.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
Labels: type: feature, area: houserules/configuration

#235 Enable UiHelper to render buttons in Hangout spaces.
  Common/Common.csproj
  Common/CommonModule.cs
  Common/ModPatcher.cs
  Common/UI/DemeoResource.cs
  Common/UI/UiHelper.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetSelectionPanel.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  RoomFinder/RoomFinderMod.cs
  RoomFinder/UI/RoomFinderUI.cs
Labels: type: feature, area: utils/ui

#237 Move board syncing functionality to its own class.
  .editorconfig
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/ModPatcher.cs
Labels: type: chore, area: houserules/core

#238 Resync board only at specific times, rather than as soon as a syncable change occurs.
  HouseRules_Core/BoardSyncer.cs
Labels: type: feature, area: houserules/core

#240 Add an enum, representing specially synced data, that rules can declare they are modifying.
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Core/Types/Rule.cs
  HouseRules_Essentials/Rules/PieceAbilityListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/StatusEffectConfigRule.cs
Labels: type: feature, area: houserules/core

#239 Resync board with clients on two new conditions: Status effects added and status effect immunities checked.
  HouseRules_Core/BoardSyncer.cs
Labels: type: bug, area: houserules/core

#241 Update The Swirl ruleset.
  HouseRules_Essentials/Rulesets/TheSwirlRuleset.cs
Labels: type: feature, area: houserules/essentials

#243 Consider enemy friendliness in LevelExitLockedUntilAllEnemiesDefeatedRule.
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: bug, area: houserules/essentials

#244 Revert renaming required-named parameter.
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: bug, area: houserules/essentials

#231 Difficulty Adjustments
  HouseRules_Essentials/Rulesets/DifficultyEasyRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyLegendaryRuleset.cs
Labels: type: feature, area: houserules/essentials

#246 Fixes for latest patch v1.13
  HouseRules_Configuration/ExampleRulesetExporter.cs
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/AbilityRandomPieceListRule.cs
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyEasyRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyLegendaryRuleset.cs
  HouseRules_Essentials/Rulesets/HuntersParadiseRuleset.cs
  HouseRules_Essentials/Rulesets/TheSwirlRuleset.cs
  docs/SettingsReference.md
  docs/rulesets/Arachnophobia.json
  docs/rulesets/LuckyDip.json
Labels: type: feature, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#247 Fix certain replaced values not being restored on rule deactivation.
  HouseRules_Essentials/Rules/PieceAbilityListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceBehavioursListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceUseWhenKilledOverriddenRule.cs
  HouseRules_Essentials/Rules/RegainAbilityIfMaxxedOutOverriddenRule.cs
  HouseRules_Essentials/Rules/StatModifiersOverridenRule.cs
Labels: type: bug, area: houserules/essentials

#248 Modify ability rules to perform abilityKey-to-ability lookups.
  HouseRules_Configuration/ExampleRulesetExporter.cs
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityActionCostAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityBackstabAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityDamageAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityRandomPieceListRule.cs
  HouseRules_Essentials/Rules/RatNestsSpawnGoldRule.cs
  HouseRules_Essentials/Rulesets/TheSwirlRuleset.cs
  docs/rulesets/3x3 Potions and Buffs.json
  docs/rulesets/Arachnophobia.json
  docs/rulesets/LuckyDip.json
Labels: type: chore, area: houserules/essentials

#250 Arachnophobia - Statmodifiers got renamed in error.
  docs/rulesets/Arachnophobia.json
Labels: type: bug, area: houserules/essentials

#249 Encapsulate processes dealing with directing the lifecycle of a ruleset.
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/LifecycleDirector.cs
  HouseRules_Core/ModPatcher.cs
Labels: type: chore, area: houserules/core

#251 Perform a lookup against an AbilityKey to find a corresponding StatModifier to modify.
  HouseRules_Essentials/Rules/RegainAbilityIfMaxxedOutOverriddenRule.cs
  HouseRules_Essentials/Rules/StatModifiersOverridenRule.cs
  docs/rulesets/Arachnophobia.json
Labels: type: chore, area: houserules/essentials

#256 Modify ExampleRulesetExporter to export all registered rules.
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/ExampleRulesetExporter.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
Labels: type: build, area: houserules/configuration

#257 Codify JSON rulesets.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/AoePotionsAndBuffsRuleset.cs
  HouseRules_Essentials/Rulesets/Arachnophobia.cs
  HouseRules_Essentials/Rulesets/BetterSorcererRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyLegendaryRuleset.cs
  HouseRules_Essentials/Rulesets/LuckyDip.cs
Labels: type: feature, area: houserules/essentials

#255 Update docs.
  DemeoMods.sln
  HouseRules_Core/README.md
  HouseRules_Essentials/README.md
  README.md
  docs/LevelProperties.md
  docs/rulesets/Arachnophobia.json
  docs/scripts/list_demeo_level_properties.py
Labels: type: documentation, area: houserules/essentials

#19 Introduce a reusable UI page stack for supporting pagination.
  Common/Common.csproj
  Common/UI/PageStack.cs
Labels: type: feature, area: utils/ui

#258 Update changelog for HouseRules v1.1.0.
  HouseRules_Configuration/CHANGELOG.md
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Core/CHANGELOG.md
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/CHANGELOG.md
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: documentation, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#259 Update dependencies to match their location in MelonLoader 0.5.4.
  Common/Common.csproj
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/HouseRules_Essentials.csproj
  RoomCode/RoomCode.csproj
  RoomFinder/RoomFinder.csproj
  SkipIntro/SkipIntro.csproj
Labels: area: roomfinder, area: utils/ui, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#264 Monster PR for MonsterDeckOverridden, LampTypesOverridden, AbilityHealOverridden, Arachnophobia Improvements and Earth, Wind and Fire Ruleset.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/AbilityHealOverriddenRule.cs
  HouseRules_Essentials/Rules/CardClassRestrictionOverriddenRule.cs
  HouseRules_Essentials/Rules/LampTypesOverriddenRule.cs
  HouseRules_Essentials/Rules/MonsterDeckOverriddenRule.cs
  HouseRules_Essentials/Rulesets/Arachnophobia.cs
  HouseRules_Essentials/Rulesets/EarthWindAndFire.cs
Labels: type: feature, area: houserules/essentials

#265 Update rules' sync triggers.
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Core/Types/Rule.cs
  HouseRules_Core/Types/Ruleset.cs
  HouseRules_Essentials/Rules/AbilityHealOverriddenRule.cs
  HouseRules_Essentials/Rules/EnemyHealthScaledRule.cs
  HouseRules_Essentials/Rules/PieceAbilityListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceBehavioursListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceUseWhenKilledOverriddenRule.cs
  HouseRules_Essentials/Rules/StatusEffectConfigRule.cs
Labels: type: bug, area: houserules/essentials

#266 Add generated JSON rulesets to repository.
  DemeoMods.sln
  HouseRules_Essentials/README.md
  docs/rulesets/(Custom) 3x3 Potions and Buffs.json
  docs/rulesets/(Custom) Arachnophobia.json
  docs/rulesets/(Custom) Beat The Clock!.json
  docs/rulesets/(Custom) Better Sorcerer.json
  docs/rulesets/(Custom) Difficulty Easy.json
  docs/rulesets/(Custom) Difficulty Hard.json
  docs/rulesets/(Custom) Difficulty Legendary.json
  docs/rulesets/(Custom) Hunter's Paradise.json
  docs/rulesets/(Custom) LuckyDip.json
  docs/rulesets/(Custom) No Surprises.json
  docs/rulesets/(Custom) None.json
  docs/rulesets/(Custom) Quick and the Dead.json
  docs/rulesets/(Custom) The Swirl.json
  docs/rulesets/Arachnophobia.json
  docs/rulesets/Better Sorcerer.json
  docs/rulesets/LuckyDip.json
  docs/rulesets/README.txt
Labels: type: documentation, area: houserules/essentials

#267 Enable HouseRules users to race through the Hangout game starting procedure.
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HangoutsGameRacer.cs
  HouseRules_Core/HouseRules_Core.csproj
Labels: type: feature, area: houserules/core

#269 Enable HangoutsGameRacer optimizations only when a ruleset is selected and for non-table hosts.
  HouseRules_Core/HangoutsGameRacer.cs
Labels: type: feature, area: houserules/core

#270 Bump HouseRules version to `1.2.0`.
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration
