Repository orendain/DemeoMods, pull requests merged in 2022-06, with the labels that each got.

#352 Remove `RegroupAllies` rule, as the equivalent change is now the default in Demeo.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/RegroupAlliesRule.cs
Labels: type: feature, area: houserules/essentials

#353 Modify `StartCardsModifiedRule` to account for new piece spawning logic in Demeo 1.16.
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
Labels: type: bug, area: houserules/essentials

#354 Update `LevelExitLockedUntilAllEnemiesDefeatedRule` to be compatible with Demeo 1.16.
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: bug, area: houserules/essentials

#355 Remove unneeded logic in `CardLimitModifiedRule` as changes in Demeo 1.16 no longer require it.
  HouseRules_Essentials/Rules/CardLimitModifiedRule.cs
Labels: type: chore, area: houserules/essentials

#341 Apply maintenance across HouseRules: fix typos, apply auto-formatting, reduce nesting.
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/UI/RulesetSelectionPanel.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  HouseRules_Configuration/VersionChecker.cs
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Core/HangoutsGameRacer.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityActionCostAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityBackstabAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityDamageOverriddenRule.cs
  HouseRules_Essentials/Rules/AbilityHealOverriddenRule.cs
  HouseRules_Essentials/Rules/AbilityRandomPieceListRule.cs
  HouseRules_Essentials/Rules/BackstabConfigOverriddenRule.cs
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardClassRestrictionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardEnergyFromRecyclingMultipliedRule.cs
  HouseRules_Essentials/Rules/CourageShantyAddsHPRule.cs
  HouseRules_Essentials/Rules/FreeAbilityOnCritRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  HouseRules_Essentials/Rules/LampTypesOverriddenRule.cs
  HouseRules_Essentials/Rules/LevelPropertiesModifiedRule.cs
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules_Essentials/Rules/PieceAbilityListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceBehavioursListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceUseWhenKilledOverriddenRule.cs
  HouseRules_Essentials/Rules/RatNestsSpawnGoldRule.cs
  HouseRules_Essentials/Rules/RegainAbilityIfMaxxedOutOverriddenRule.cs
  HouseRules_Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules_Essentials/Rules/StatModifiersOverridenRule.cs
  HouseRules_Essentials/Rules/TileEffectDurationOverriddenRule.cs
  HouseRules_Essentials/Rulesets/DemeoReloaded.cs
  HouseRules_Essentials/Rulesets/QuickandDeadRuleset.cs
Labels: type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#361 Paginate rooms that appear in the RoomFinder panel.
  RoomFinder/UI/RoomListPanel.cs
Labels: type: feature, area: roomfinder

#363 Add a `Clear` method for removing all pages from a page stack.
  Common/UI/PageStack.cs
Labels: type: feature, area: utils/ui

#362 Perform maintenance on RoomFinder.
  RoomFinder/Patcher.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/RoomFinderMod.cs
  RoomFinder/SharedState.cs
  RoomFinder/UI/Room.cs
  RoomFinder/UI/RoomFinderUI.cs
  RoomFinder/UI/RoomListPanel.cs
Labels: area: roomfinder, type: chore

#364 Display version on RoomFinder UI.
  RoomFinder/BuildVersion.cs
  RoomFinder/Properties/AssemblyInfo.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/UI/RoomFinderUI.cs
  RoomFinder/UI/RoomListPanel.cs
Labels: type: feature, area: roomfinder

#366 Update support for starting HouseRules games from Hangouts.
  HouseRules_Core/HangoutsGameRacer.cs
Labels: type: bug, area: houserules/core

#370 Refactor `common\ui` so as separate UI helpers based on UI environments.
  Common/Common.csproj
  Common/CommonModule.cs
  Common/UI/Element/HangoutsElementCreator.cs
  Common/UI/Element/IElementCreator.cs
  Common/UI/Element/VrElementCreator.cs
  Common/UI/PageStack.cs
  Common/UI/Resource/VrResourceTable.cs
  Common/UI/UiEnvironments.cs
  Common/UI/UiHelper.cs
Labels: area: utils/ui, type: chore

#360 Tag HouseRules games with a custom room property.
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/LifecycleDirector.cs
Labels: type: feature, area: houserules/core

#379 Remove `ButtonMenuGreen` as a required dependency for NonVR UIs.
  Common/UI/Resource/NonVrResourceTable.cs
Labels: type: bug, area: utils/ui

#380 Ignore amendment-labelled PRs when generating changelogs.
  HouseRules_Configuration/.github_changelog_generator
  HouseRules_Core/.github_changelog_generator
  HouseRules_Essentials/.github_changelog_generator
  RoomCode/.github_changelog_generator
  RoomFinder/.github_changelog_generator
  SkipIntro/.github_changelog_generator
Labels: type: documentation, area: misc

#382 Update Installation section of the root doc with direct download links.
  README.md
Labels: type: documentation, area: misc

#383 Update changelog for Roomfinder v1.5.0 release
  RoomFinder/CHANGELOG.md
Labels: type: documentation, area: misc

#378 Add programatically generated changelogs.
  HouseRules_Configuration/CHANGELOG.md
  HouseRules_Core/CHANGELOG.md
  HouseRules_Essentials/CHANGELOG.md
Labels: type: documentation, area: misc

#385 Encapsulate PageStack navigation UI into the reusuable `PageStackNavigation` class.
  Common/Common.csproj
  Common/UI/Element/HangoutsElementCreator.cs
  Common/UI/Element/IElementCreator.cs
  Common/UI/Element/NonVrElementCreator.cs
  Common/UI/Element/VrElementCreator.cs
  Common/UI/PageStack.cs
  Common/UI/PageStackNavigation.cs
  Common/UI/Resource/NonVrResourceTable.cs
  Common/UI/Resource/VrResourceTable.cs
  HouseRules_Configuration/UI/HouseRulesUiHangouts.cs
  HouseRules_Configuration/UI/HouseRulesUiNonVr.cs
  HouseRules_Configuration/UI/HouseRulesUiVr.cs
  HouseRules_Configuration/UI/RulesetSelectionPanelNonVr.cs
  HouseRules_Configuration/UI/RulesetSelectionPanelVr.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
  RoomFinder/UI/RoomListPanel.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
Labels: area: common, type: chore

#387 Apply maintenance to VR and NonVR UIs.
  Common/UI/Element/NonVrElementCreator.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Configuration/UI/HouseRulesUiHangouts.cs
  HouseRules_Configuration/UI/HouseRulesUiNonVr.cs
  HouseRules_Configuration/UI/HouseRulesUiVr.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Configuration/UI/RulesetListPanelVr.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: area: roomfinder, type: chore, area: houserules/configuration

#350 Document the mod release process.
  DemeoMods.sln
  RELEASE.md
Labels: type: documentation, area: misc
