Repository orendain/DemeoMods, pull requests merged in 2022-01, with the labels that each got.

#23 Add repository-wide CHANGELOG.md, as well as the properties for its generation.
  .github_changelog_generator
  CHANGELOG.md
Labels: type: documentation

#29 Add RulesAPI documentation.
  DemeoMods.sln
  RulesAPI/README.md
  RulesAPI/Registrar.cs
  RulesAPI/RuleSet.cs
  RulesAPI/RulesAPI.csproj
  RulesAPI/RulesAPIMod.cs
Labels: type: documentation, area: rules

#30 Create basic rule and ruleset for RulesAPI.
  DemeoMods.sln
  Rules/Properties/AssemblyInfo.cs
  Rules/Rule/SampleRule.cs
  Rules/RuleSet/SampleRuleSet.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules

#31 Add ballista damage and action points adjustment rules.
  Rules/Rule/BallistaActionPointsAdjustedRule.cs
  Rules/Rule/BallistaAttackDamageAdjustedRule.cs
  Rules/Rules.csproj
Labels: type: feature, area: roomfinder

#32 Add rule for making rat nests spawn gold.
  Rules/Rule/RatNestsSpawnGoldRule.cs
  Rules/Rules.csproj
Labels: type: feature, area: rules

#34 Add rule for adjusting Zap damage.
  Rules/Rule/ZapDamageAdjustedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules

#36 Add rule for adjusting starting count of Zap cards.
  Rules/README.md
  Rules/Rule/ZapStartingInventoryAdjustedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules

#37 Load the first registered ruleset when a game is hosted. For development purposes.
  RulesAPI/RulesAPIMod.cs
Labels: area: rules

#51 Simply access for global RulesAPI state.
  RulesAPI/ModPatcher.cs
  RulesAPI/ModState.cs
  RulesAPI/Registrar.cs
  RulesAPI/Rule.cs
  RulesAPI/RulesAPI.cs
  RulesAPI/RulesAPI.csproj
  RulesAPI/RulesAPIMod.cs
  RulesAPI/Ruleset.cs
Labels: type: chore, area: rules/core

#52 Allow rulesets to be created without having to implement a class.
  Rules/Rules.csproj
  Rules/RulesMod.cs
  Rules/Ruleset/SampleRuleset.cs
  RulesAPI/Registrar.cs
  RulesAPI/RulesAPI.cs
  RulesAPI/Ruleset.cs
Labels: type: chore, area: rules/core

#53 Write mod preferences, saving/loading selected ruleset via config file.
  RulesAPI/RulesAPI.cs
  RulesAPI/RulesAPIMod.cs
Labels: type: feature, area: rules/core

#54 Update documentation to outline how to specify a ruleset via configuration.
  Rules/README.md
  RulesAPI/README.md
  RulesAPI/RulesAPI.cs
Labels: type: documentation, area: rules/core

#55 Fix zap patching.
  Rules/Rule/ZapStartingInventoryAdjustedRule.cs
Labels: type: bug, area: rules/rule

#56 Activate rules later in the game initialization process.
  RulesAPI/ModPatcher.cs
Labels: type: bug, area: rules/core

#62 Find a better hook for recognizing when a game is started.
  RulesAPI/ModPatcher.cs
Labels: type: chore, area: rules/core

#63 Add hooks for pre game creation and post game creation.
  RulesAPI/ModPatcher.cs
  RulesAPI/Rule.cs
  RulesAPI/RulesAPI.cs
Labels: type: feature, area: rules/core

#64 Deactive ruleset at the end of a game or when the player disconnects.
  RulesAPI/ModPatcher.cs
  RulesAPI/RulesAPI.cs
Labels: type: feature, area: rules/core

#65 Flatten rule callback calls.
  RulesAPI/Rule.cs
  RulesAPI/RulesAPI.cs
  RulesAPI/Ruleset.cs
Labels: type: chore, area: rules/core

#66 Update Rules documentation.
  Rules/Rule/SampleRule.cs
  RulesAPI/ModPatcher.cs
  RulesAPI/README.md
  RulesAPI/Rule.cs
  RulesAPI/RulesAPI.cs
Labels: type: documentation, area: rules/core

#67 Fix rule deactivation not setting activate flag off.
  RulesAPI/ModPatcher.cs
  RulesAPI/RulesAPI.cs
Labels: type: bug, area: rules/core

#68 Update method names.
  Rules/Rule/BallistaActionPointsAdjustedRule.cs
  Rules/Rule/BallistaAttackDamageAdjustedRule.cs
  Rules/Rule/RatNestsSpawnGoldRule.cs
  Rules/Rule/SampleRule.cs
  Rules/Rule/ZapDamageAdjustedRule.cs
  RulesAPI/ModPatcher.cs
  RulesAPI/Rule.cs
  RulesAPI/RulesAPI.cs
Labels: type: chore, area: rules/core

#70 Check for selected ruleset before attempting to trigger callbacks.
  RulesAPI/RulesAPI.cs
Labels: type: bug, area: rules/core

#59 Introduce ActionPointsAdjustedRule.
  Rules/README.md
  Rules/Rule/ActionPointsAdjustedRule.cs
  Rules/Rule/BallistaActionPointsAdjustedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#71 Update MelonLoader attributes.
  README.md
  RoomFinder/Properties/AssemblyInfo.cs
  Rules/Properties/AssemblyInfo.cs
  RulesAPI/Properties/AssemblyInfo.cs
  SkipIntro/Properties/AssemblyInfo.cs
Labels: type: documentation

#69 Introduce generic ability damage rule.
  Rules/README.md
  Rules/Rule/AbilityDamageAdjustedRule.cs
  Rules/Rule/BallistaAttackDamageAdjustedRule.cs
  Rules/Rule/ZapDamageAdjustedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#72 Add rule for adjusting StartHealth
  Rules/README.md
  Rules/Rule/StartHealthAdjustedRule.cs
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#74 A generic PiceConfig Adjuster Rule which can set any named integer field.
  Rules/Rule/PieceConfigAdjustedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#76 Fix spacing and add
  Rules/README.md
  Rules/Rule/PieceConfigAdjustedRule.cs
  Rules/Rules.csproj
  RulesAPI/RulesAPI.csproj
Labels: type: documentation, area: rules/rule

#77 Broadcast a welcome message with a description of the ruleset upon game creation.
  Rules/Properties/AssemblyInfo.cs
  Rules/Rule/SampleRule.cs
  RulesAPI/ModPatcher.cs
  RulesAPI/Properties/AssemblyInfo.cs
  RulesAPI/RulesAPI.cs
Labels: type: feature, area: rules/core

#78 Add doc for modifiable PieceConfig fields.
  DemeoMods.sln
  Rules/README.md
  docs/PieceConfig.md
Labels: type: documentation, area: rules/rule

#38 Add rule for disabling enemy respawns.
  Rules/README.md
  Rules/Rule/EnemyRespawnDisabledRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#39 Add rule for multiplying gold picked up.
  Rules/README.md
  Rules/Rule/GoldPickedUpMultipliedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#40 Add rule which increases card sell values.
  Rules/README.md
  Rules/Rule/CardSellValueMultipliedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#84 Added rule for multiplying card energy gained from attacks.
  Rules/README.md
  Rules/Rule/CardEnergyFromAttackMultipliedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#85 Add rule for multiplying recycled card energy.
  Rules/README.md
  Rules/Rule/CardEnergyFromAttackMultipliedRule.cs
  Rules/Rule/CardEnergyFromRecyclingMultipliedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#82 actionPoints varialbe name was out of context.
  Rules/Rule/PieceConfigAdjustedRule.cs
Labels: area: rules/rule

#86 Add rule disallowed enemies from opening doors.
  Rules/README.md
  Rules/Rule/EnemyDoorOpeningDisabledRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#87 Add rule for scaling all enemy health.
  Rules/README.md
  Rules/Rule/EnemyHealthScaledRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#88 Add rule for scaling all enemy attack damage.
  Rules/README.md
  Rules/Rule/EnemyAttackScaledRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule
