Repository orendain/DemeoMods, pull requests merged in 2022-07, with the labels that each got.

#395 Use the assembly name when targetting the files to copy to the game directory.
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/HouseRules_Essentials.csproj
  RoomCode/RoomCode.csproj
  RoomFinder/RoomFinder.csproj
  SkipIntro/SkipIntro.csproj
Labels: area: roomfinder, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#396 Fix for CardAdditionRule not working
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
Labels: type: bug, area: houserules/essentials

#397 Update RoomFinder to be compatible with Demeo v1.19.
  RoomFinder/BuildVersion.cs
  RoomFinder/Patcher.cs
  RoomFinder/RoomFinderMod.cs
  RoomFinder/SharedState.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
Labels: type: feature, area: roomfinder

#400 Reposition and resize elements for a cleaner look.
  Common/UI/Element/NonVrElementCreator.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
Labels: type: feature, area: houserules/configuration

#402 Write a CI workflow to automate the building and assembling of mods.
  .github/workflows/build.yml
Labels: area: roomfinder, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#403 Added action for auto-publishing releases to CurseForge.
  .github/workflows/curseforge.yml
Labels: area: roomfinder, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#404 Regenerate RoomFinder changelog for v1.6.0.
  README.md
  RoomFinder/CHANGELOG.md
Labels: type: documentation, area: roomfinder

#405 Add workflow badge to README.
  README.md
Labels: type: documentation, area: misc

#399 New rule for Electricity damage between party members.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  HouseRules_Essentials/Rulesets/BetterSorcererRuleset.cs
Labels: type: feature, area: houserules/essentials

#409 Fix the Warlock not having her health increased in the Beat the Clock ruleset.
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
Labels: type: bug, area: houserules/essentials
