Repository orendain/DemeoMods, pull requests merged in 2022-05, with the labels that each got.

#320 Its a trap ruleset
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rulesets/ItsATrapRuleset.cs
Labels: type: feature, area: houserules/essentials

#319 Store replenishFrequency in the unused bits of Inventory 'flags'
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
  HouseRules_Essentials/Rulesets/Arachnophobia.cs
  HouseRules_Essentials/Rulesets/EarthWindAndFire.cs
  HouseRules_Essentials/Rulesets/HuntersParadiseRuleset.cs
  HouseRules_Essentials/Rulesets/LuckyDip.cs
  HouseRules_Essentials/Rulesets/TheSwirlRuleset.cs
Labels: type: feature, area: houserules/essentials

#326 Added a board sync trigger to AbilityAoeAdjustedRule, to fix AoE potion changes not syncing across clients.
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
Labels: type: bug, area: houserules/essentials

#327 Adjust `ItsATrapRuleset` with updated `StartCardsModifiedRule` format.
  HouseRules_Essentials/Rules/AbilityDamageOverriddenRule.cs
  HouseRules_Essentials/Rulesets/ItsATrapRuleset.cs
Labels: type: chore, area: houserules/essentials

#329 The Gray Alien's Demeo Reloaded ruleset.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rulesets/DemeoReloaded.cs
Labels: type: feature, area: houserules/essentials

#335 Ruleset rebalance tweaks from Gray Alien
  HouseRules_Essentials/Rulesets/DemeoReloaded.cs
Labels: type: feature, area: houserules/essentials

#336 Introduce a new rule: TurnOrderOverridden, allowing the player turn order to be customized.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/TurnOrderOverriddenRule.cs
Labels: type: feature, area: houserules/essentials
