Repository orendain/DemeoMods, pull requests merged in 2022-12, with the labels that each got.

#412 New Potion Commotion ruleset where all card additions are potions.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rulesets/PotionCommotionRuleset.cs
Labels: type: feature, area: houserules/essentials

#450 Added missing ruleset to the build
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/HoardersRuleset.cs
  docs/rulesets/(Custom) Hoarders.json
Labels: type: feature, area: houserules/essentials

#451 Rulesets should not be exported by default...
  HouseRules_Configuration/ExampleRulesetExporter.cs
Labels: type: bug, area: houserules/configuration

#452 Fresh export of built-in rulesets.
  docs/rulesets/(Custom) 3x3 Potions and Buffs.json
  docs/rulesets/(Custom) Arachnophobia.json
  docs/rulesets/(Custom) Beat The Clock!.json
  docs/rulesets/(Custom) Better Sorcerer.json
  docs/rulesets/(Custom) Demeo Reloaded.json
  docs/rulesets/(Custom) Earth Wind & Fire.json
  docs/rulesets/(Custom) Flipping Out!.json
  docs/rulesets/(Custom) Hoarders - Skirmish Only!.json
  docs/rulesets/(Custom) Hunter's Paradise.json
  docs/rulesets/(Custom) It's A Trap!.json
  docs/rulesets/(Custom) LuckyDip.json
  docs/rulesets/(Custom) Potion Commotion.json
  docs/rulesets/(Custom) The Swirl.json
Labels: type: documentation, area: houserules/essentials

#453 GameDataAPI.cs or DreadLevelsDTO.cs are obsolete.
  docs/scripts/list_demeo_config_values.py
  docs/scripts/list_demeo_level_properties.py
Labels: type: documentation, type: chore
