Repository orendain/DemeoMods, pull requests merged in 2022-02, with the labels that each got.

#93 A rule for adjusting the AOE range of abilities
  Rules/README.md
  Rules/Rule/AbilityAOEAdjustedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#94 Implement reading and writing rulesets, and their rule configurations, from configuration files.
  Rules/Rule/AbilityActionCostAdjustedRule.cs
  Rules/Rule/GoldPickedUpScaledRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
  RulesAPI/IConfigurableRule.cs
  RulesAPI/RuleParser.cs
  RulesAPI/RulesAPI.csproj
  RulesAPI/RulesetIO.cs
Labels: type: feature, area: rules/core

#95 Perform maintenance on feature for reading/writing rules to configuration.
  Rules/Rule/GoldPickedUpScaledRule.cs
  RulesAPI/IConfigWritable.cs
  RulesAPI/RuleParser.cs
  RulesAPI/RulesAPI.csproj
  RulesAPI/RulesetIO.cs
Labels: type: chore, area: rules/core

#96 Introduce the IPatchable interface.
  RulesAPI/IPatchable.cs
  RulesAPI/Rule.cs
  RulesAPI/RulesAPI.csproj
Labels: type: feature, area: rules/core

#98 Migrate patchable rules to the IPatchable interface
  Rules/Rule/AbilityAOEAdjustedRule.cs
  Rules/Rule/AbilityActionCostAdjustedRule.cs
  Rules/Rule/CardEnergyFromRecyclingMultipliedRule.cs
  Rules/Rule/CardSellValueMultipliedRule.cs
  Rules/Rule/EnemyAttackScaledRule.cs
  Rules/Rule/EnemyDoorOpeningDisabledRule.cs
  Rules/Rule/EnemyHealthScaledRule.cs
  Rules/Rule/EnemyRespawnDisabledRule.cs
  Rules/Rule/GoldPickedUpMultipliedRule.cs
  Rules/Rule/GoldPickedUpScaledRule.cs
  Rules/Rule/SampleRule.cs
  Rules/Rule/ZapStartingInventoryAdjustedRule.cs
  RulesAPI/IPatchable.cs
  RulesAPI/RulesAPI.csproj
  RulesAPI/RulesAPIMod.cs
Labels: type: feature, area: rules/core

#92 Add rule for setting Sorcerer start cards.
  Rules/README.md
  Rules/Rule/SorcererStartCardsModifiedRule.cs
  Rules/Rules.csproj
  Rules/RulesMod.cs
Labels: type: feature, area: rules/rule

#99 Consolodate recent new features into a ConfigManager class.
  RulesAPI/ConfigManager.cs
  RulesAPI/RulesAPI.cs
  RulesAPI/RulesAPI.csproj
  RulesAPI/RulesAPIMod.cs
Labels: type: chore, area: rules/core

#100 Make more rules config writable.
  Rules/Rule/ActionPointsAdjustedRule.cs
  Rules/Rule/CardEnergyFromAttackMultipliedRule.cs
  Rules/Rule/CardEnergyFromRecyclingMultipliedRule.cs
  Rules/Rule/CardSellValueMultipliedRule.cs
  Rules/Rule/EnemyAttackScaledRule.cs
  Rules/Rule/EnemyDoorOpeningDisabledRule.cs
  Rules/Rule/EnemyHealthScaledRule.cs
  Rules/Rule/EnemyRespawnDisabledRule.cs
  Rules/Rule/RatNestsSpawnGoldRule.cs
  Rules/Rule/StartHealthAdjustedRule.cs
Labels: type: feature, area: rules/rule

#101 Verify that rulesets do not include duplicate IPatchable rules when registering.
  Rules/RulesMod.cs
  RulesAPI/ConfigManager.cs
  RulesAPI/Registrar.cs
  RulesAPI/Ruleset.cs
Labels: type: feature, area: rules/core

#102 Make even more rules config writeable
  Rules/Rule/AbilityAOEAdjustedRule.cs
  Rules/Rule/AbilityActionCostAdjustedRule.cs
  Rules/Rule/AbilityDamageAdjustedRule.cs
  Rules/Rule/PieceConfigAdjustedRule.cs
Labels: type: feature, area: rules/rule

#103 Modify the IConfigWritable interface.
  Rules/Rule/AbilityAOEAdjustedRule.cs
  Rules/Rule/AbilityActionCostAdjustedRule.cs
  Rules/Rule/AbilityDamageAdjustedRule.cs
  Rules/Rule/ActionPointsAdjustedRule.cs
  Rules/Rule/CardEnergyFromAttackMultipliedRule.cs
  Rules/Rule/CardEnergyFromRecyclingMultipliedRule.cs
  Rules/Rule/CardSellValueMultipliedRule.cs
  Rules/Rule/EnemyAttackScaledRule.cs
  Rules/Rule/EnemyDoorOpeningDisabledRule.cs
  Rules/Rule/EnemyHealthScaledRule.cs
  Rules/Rule/EnemyRespawnDisabledRule.cs
  Rules/Rule/GoldPickedUpScaledRule.cs
  Rules/Rule/PieceConfigAdjustedRule.cs
  Rules/Rule/RatNestsSpawnGoldRule.cs
  Rules/Rule/SorcererStartCardsModifiedRule.cs
  Rules/Rule/StartHealthAdjustedRule.cs
  Rules/RulesMod.cs
  RulesAPI/ConfigManager.cs
  RulesAPI/IConfigWritable.cs
Labels: type: feature, area: rules/core

#104 Add RulesAPI_ConfigurationRulesets mod.
  DemeoMods.sln
  Rules/Rules.csproj
  RulesAPI_ConfigurableRulesets/ConfigManager.cs
  RulesAPI_ConfigurableRulesets/ConfigurableRulesetsMod.cs
  RulesAPI_ConfigurableRulesets/Properties/AssemblyInfo.cs
  RulesAPI_ConfigurableRulesets/RulesAPI_ConfigurableRulesets.csproj
Labels: type: feature, area: rules/configurable

#107 Consolidate configuration functions to RulesAPI: Configuration mod.
  RulesAPI_Configuration/ConfigManager.cs
  RulesAPI_Configuration/ConfigurationMod.cs
  RulesAPI_Core/ConfigManager.cs
  RulesAPI_Core/RulesAPI.cs
  RulesAPI_Core/RulesAPIMod.cs
  RulesAPI_Core/RulesAPI_Core.csproj
Labels: type: chore, area: rules/configuration

#108 Serialize enums as strings instead of as ints.
  RulesAPI_Configuration/ConfigManager.cs
  RulesAPI_Configuration/ConfigurationMod.cs
  RulesAPI_Configuration/Properties/AssemblyInfo.cs
  RulesAPI_Core/RulesAPI.cs
  RulesAPI_Essentials/EssentialsMod.cs
  RulesAPI_Essentials/Properties/AssemblyInfo.cs
Labels: type: feature, area: rules/configuration

#114 Add rule modifying level properties.
  RulesAPI_Essentials/EssentialsMod.cs
  RulesAPI_Essentials/README.md
  RulesAPI_Essentials/Rules/LevelPropertiesModifiedRule.cs
  RulesAPI_Essentials/RulesAPI_Essentials.csproj
Labels: type: feature, area: rules/essentials

#115 Hook into a new game being started when in post-game state.
  RulesAPI_Core/ModPatcher.cs
Labels: type: feature, area: rules/core

#116 Pass GameContext in as argument to hook calls.
  RulesAPI_Core/ModPatcher.cs
  RulesAPI_Core/Rule.cs
  RulesAPI_Core/RulesAPI.cs
  RulesAPI_Essentials/Rules/AbilityAOEAdjustedRule.cs
  RulesAPI_Essentials/Rules/AbilityActionCostAdjustedRule.cs
  RulesAPI_Essentials/Rules/AbilityDamageAdjustedRule.cs
  RulesAPI_Essentials/Rules/ActionPointsAdjustedRule.cs
  RulesAPI_Essentials/Rules/CardEnergyFromAttackMultipliedRule.cs
  RulesAPI_Essentials/Rules/CardEnergyFromRecyclingMultipliedRule.cs
  RulesAPI_Essentials/Rules/CardSellValueMultipliedRule.cs
  RulesAPI_Essentials/Rules/EnemyAttackScaledRule.cs
  RulesAPI_Essentials/Rules/EnemyDoorOpeningDisabledRule.cs
  RulesAPI_Essentials/Rules/EnemyHealthScaledRule.cs
  RulesAPI_Essentials/Rules/EnemyRespawnDisabledRule.cs
  RulesAPI_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  RulesAPI_Essentials/Rules/GoldPickedUpScaledRule.cs
  RulesAPI_Essentials/Rules/LevelPropertiesModifiedRule.cs
  RulesAPI_Essentials/Rules/PieceConfigAdjustedRule.cs
  RulesAPI_Essentials/Rules/RatNestsSpawnGoldRule.cs
  RulesAPI_Essentials/Rules/SampleRule.cs
  RulesAPI_Essentials/Rules/SorcererStartCardsModifiedRule.cs
  RulesAPI_Essentials/Rules/StartHealthAdjustedRule.cs
  RulesAPI_Essentials/Rules/ZapStartingInventoryAdjustedRule.cs
Labels: type: feature, area: rules/core

#118 Fix level properties rule so deactivation works.
  RulesAPI_Essentials/Rules/LevelPropertiesModifiedRule.cs
Labels: type: bug, area: rules/essentials

#119 Add ConfigManager functionality allowing loading rulesets specified from config.
  RulesAPI_Configuration/ConfigManager.cs
  RulesAPI_Configuration/ConfigurationMod.cs
Labels: type: feature, area: rules/configuration

#106 Add start card rule affecting all heroes.
  RulesAPI_Essentials/EssentialsMod.cs
  RulesAPI_Essentials/README.md
  RulesAPI_Essentials/Rules/StartCardsModifiedRule.cs
  RulesAPI_Essentials/RulesAPI_Essentials.csproj
Labels: type: feature, area: rules/essentials

#120 Add rule modifying card limit.
  RulesAPI_Configuration/ConfigurationMod.cs
  RulesAPI_Essentials/EssentialsMod.cs
  RulesAPI_Essentials/README.md
  RulesAPI_Essentials/Rules/CardLimitModifiedRule.cs
  RulesAPI_Essentials/RulesAPI_Essentials.csproj
Labels: type: feature, area: rules/essentials

#121 Fix spelling in demo rule
  RulesAPI_Configuration/ConfigurationMod.cs
Labels: type: bug, area: rules/configuration

#122 Updated URLs based on new file structure
  README.md
Labels: type: documentation, area: rules/core

#125 Use Newtonsoft.Json instead of System.Text.Json for configuration serialization.
  RulesAPI_Configuration/ConfigManager.cs
  RulesAPI_Configuration/RulesAPI_Configuration.csproj
Labels: type: bug, area: rules/configuration

#128 Remove unneeded (?) rules.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/SorcererStartCardsModifiedRule.cs
  HouseRules_Essentials/Rules/ZapStartingInventoryAdjustedRule.cs
Labels: type: chore, area: houserules/essentials

#127 Fix card limit rule assuming the card limit was 0 by default.
  HouseRules_Essentials/Rules/CardLimitModifiedRule.cs
Labels: type: bug, area: houserules/essentials

#129 Move HomeRules types (e.g., Rule, all rule interfaces, Ruleset) to 'Types' namespace.
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/ModPatcher.cs
  HouseRules_Core/Registrar.cs
  HouseRules_Core/Types/IConfigWritable.cs
  HouseRules_Core/Types/IPatchable.cs
  HouseRules_Core/Types/Rule.cs
  HouseRules_Core/Types/Ruleset.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityActionCostAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityDamageAdjustedRule.cs
  HouseRules_Essentials/Rules/ActionPointsAdjustedRule.cs
  HouseRules_Essentials/Rules/CardEnergyFromAttackMultipliedRule.cs
  HouseRules_Essentials/Rules/CardEnergyFromRecyclingMultipliedRule.cs
  HouseRules_Essentials/Rules/CardLimitModifiedRule.cs
  HouseRules_Essentials/Rules/CardSellValueMultipliedRule.cs
  HouseRules_Essentials/Rules/EnemyAttackScaledRule.cs
  HouseRules_Essentials/Rules/EnemyDoorOpeningDisabledRule.cs
  HouseRules_Essentials/Rules/EnemyHealthScaledRule.cs
  HouseRules_Essentials/Rules/EnemyRespawnDisabledRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpScaledRule.cs
  HouseRules_Essentials/Rules/LevelPropertiesModifiedRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rules/RatNestsSpawnGoldRule.cs
  HouseRules_Essentials/Rules/SampleRule.cs
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
  HouseRules_Essentials/Rules/StartHealthAdjustedRule.cs
Labels: type: chore, area: houserules/core

#130 Rename Registrar to Rulebook.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/Rulebook.cs
  HouseRules_Essentials/EssentialsMod.cs
Labels: type: chore, area: houserules/core

#132 Establish how to separate ruleset definitions from one another.
  HouseRules_Core/Types/Ruleset.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/SampleRuleset.cs
Labels: type: chore, area: houserules/essentials

#134 Implement full JSON ruleset export/import.
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
Labels: type: feature, area: houserules/configuration

#131 Document JSON config options and provide examples for each rule.
  HouseRules_Core/README.md
  HouseRules_Essentials/README.md
  README.md
  docs/HouseRules.png
  docs/TestingRuleSet.json
Labels: type: documentation, area: houserules/core

#136 Introduce `ISingular` interface and add `_global` variable to each IPatchable rule.
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/Rulebook.cs
  HouseRules_Core/Types/IPatchable.cs
  HouseRules_Core/Types/ISingular.cs
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
  HouseRules_Essentials/Rules/CardEnergyFromRecyclingMultipliedRule.cs
  HouseRules_Essentials/Rules/CardLimitModifiedRule.cs
  HouseRules_Essentials/Rules/CardSellValueMultipliedRule.cs
  HouseRules_Essentials/Rules/EnemyAttackScaledRule.cs
  HouseRules_Essentials/Rules/EnemyHealthScaledRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpScaledRule.cs
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
Labels: type: bug, area: houserules/core

#139 Remove patching and state in common module.
  Common/Common.csproj
  Common/CommonModule.cs
  Common/Patchers/GameContextPatcher.cs
  Common/States/GameContextState.cs
  RoomFinder/ModPatcher.cs
  RoomFinder/ModState.cs
  RoomFinder/RoomFinderMod.cs
  RoomFinder/UI/RoomListPanel.cs
  RoomFinder/UI/RoomListUI.cs
Labels: area: roomfinder, type: chore

#140 Change target of all mods to v4.7.2.
  Common/Common.csproj
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/HouseRules_Essentials.csproj
  RoomFinder/RoomFinder.csproj
  SkipIntro/SkipIntro.csproj
Labels: type: build

#137 Optimize HouseRules screenshot.
  DemeoMods.sln
  README.md
  docs/HouseRules.png
  docs/houserules_screenshot.jpg
Labels: type: chore, area: houserules/core

#141 Shorten rule names when writing rulesets to config.
  HouseRules_Configuration/ConfigManager.cs
Labels: type: feature, area: houserules/configuration

#147 Add abstraction for labelling rules as being safe for multiplayer use.
  HouseRules_Core/HR.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/ModPatcher.cs
  HouseRules_Core/Types/IMultiplayerSafe.cs
  HouseRules_Core/Types/Ruleset.cs
Labels: type: feature, area: houserules/core

#148 Clean up welcome message.
  HouseRules_Core/HR.cs
Labels: type: chore, area: houserules/core

#151 Force board state resync in cases where a client may register a new spawn.
  HouseRules_Core/HR.cs
  HouseRules_Core/ModPatcher.cs
Labels: type: feature, area: houserules/core

#150 Label rules that have been tested to be safe for multiplayer.
  HouseRules_Essentials/Rules/AbilityActionCostAdjustedRule.cs
  HouseRules_Essentials/Rules/ActionPointsAdjustedRule.cs
  HouseRules_Essentials/Rules/CardEnergyFromAttackMultipliedRule.cs
  HouseRules_Essentials/Rules/CardEnergyFromRecyclingMultipliedRule.cs
  HouseRules_Essentials/Rules/EnemyDoorOpeningDisabledRule.cs
  HouseRules_Essentials/Rules/EnemyRespawnDisabledRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpScaledRule.cs
  HouseRules_Essentials/Rules/LevelPropertiesModifiedRule.cs
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
Labels: type: chore, area: houserules/essentials

#152 Mark more rules as being multiplayer safe.
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityDamageAdjustedRule.cs
  HouseRules_Essentials/Rules/EnemyAttackScaledRule.cs
  HouseRules_Essentials/Rules/EnemyHealthScaledRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rules/StartHealthAdjustedRule.cs
Labels: type: chore, area: houserules/essentials

#153 Perform maintenance.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/ModPatcher.cs
  HouseRules_Core/Types/Ruleset.cs
  HouseRules_Essentials/Rules/CardEnergyFromAttackMultipliedRule.cs
Labels: type: chore, area: houserules/core

#154 Add rule that allows to override cards that players receive.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
Labels: type: feature, area: houserules/essentials

#144 Add in-game UI for HouseRules.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Configuration/UI/RulesetSelectionPanel.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/Rulebook.cs
Labels: type: feature, area: houserules/configuration

#133 Add rulesets for easy/hard/legendary difficulty.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/DifficultyEasyRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyLegendaryRuleset.cs
Labels: type: feature, area: houserules/essentials

#156 Add "Beat the clock!" ruleset.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
Labels: type: feature, area: houserules/essentials

#158 Perform maintenance on RoomFinder.
  HouseRules_Essentials/Rules/CardSellValueMultipliedRule.cs
  RoomFinder/ModPatcher.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/RoomFinderMod.cs
  RoomFinder/UI/RoomFinderUI.cs
  RoomFinder/UI/RoomListPanel.cs
Labels: area: roomfinder, type: chore

#159 Remove 'Hide Full' button.
  RoomFinder/UI/RoomFinderUI.cs
  RoomFinder/UI/RoomListPanel.cs
Labels: type: feature, area: roomfinder

#161 Keep sort order when room list is refreshed.
  RoomFinder/UI/RoomFinderUI.cs
  RoomFinder/UI/RoomListPanel.cs
Labels: type: feature, area: roomfinder

#162 Add rule to adjust PieceConfig ImmuneToStatusEffects lists.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
Labels: type: feature, area: houserules/essentials

#160 Updated Difficulty Rulesets and added ruleset
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Rulesets/DifficultyEasyRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyLegendaryRuleset.cs
  HouseRules_Essentials/Rulesets/QuickandDeadRuleset.cs
Labels: type: feature, area: houserules/essentials

#163 Add QuickAndDeadRuleset to csproj.
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
Labels: type: bug, area: houserules/essentials

#164 Add rule to override StatusEffectConfig
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/StatusEffectConfigRule.cs
Labels: type: feature, area: houserules/essentials

#165 Fix indentation warnings.
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
Labels: type: chore, area: houserules/essentials

#166 Return raw GameObjects (not wrapped by an additional GameObject) when creating new buttons or text.
  Common/UI/UiHelper.cs
Labels: type: feature, area: utils/ui

#167 Modify HouseRules UI.
  HouseRules_Configuration/UI/RulesetSelectionPanel.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
Labels: type: feature, area: houserules/configuration

#168 Update RoomFinder UI with knowledge of updated Common UI library.
  Common/UI/UiHelper.cs
  HouseRules_Configuration/UI/RulesetSelectionPanel.cs
  RoomFinder/UI/RoomFinderUI.cs
  RoomFinder/UI/RoomListPanel.cs
Labels: area: roomfinder, type: chore

#146 Created additional core ruleset
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rulesets/NoSurprisesRuleset.cs
Labels: type: feature, area: houserules/essentials

#170 Additional Rulesets and corrections
  HouseRules_Essentials/Rulesets/HoardersRuleset.cs
  HouseRules_Essentials/Rulesets/NoSurprisesRuleset.cs
Labels: area: houserules/essentials

#171 Tweak BeatTheClock ruleset.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
Labels: type: feature, area: houserules/essentials

#180 Move Import/Export ruleset methods to be non-static, to depend on serialization settings of the ConfigManager instance.
  HouseRules_Configuration/ConfigManager.cs
Labels: type: chore, area: houserules/configuration

#184 Deregulation - Remove duplicated rule functionality.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/ActionPointsAdjustedRule.cs
  HouseRules_Essentials/Rules/StartHealthAdjustedRule.cs
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
Labels: type: chore, area: houserules/essentials

#186 Document missing rules, and pretty things up with emojis.
  HouseRules_Core/README.md
  HouseRules_Essentials/README.md
Labels: type: documentation, area: houserules/essentials

#187 Add PetsFocusHunterMarkRule.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
Labels: type: feature, area: houserules/essentials

#190 Introduce RoomCode mod.
  DemeoMods.sln
  RoomCode/ModPatcher.cs
  RoomCode/Properties/AssemblyInfo.cs
  RoomCode/README.md
  RoomCode/RoomCode.csproj
  RoomCode/RoomCodeMod.cs
Labels: type: feature, area: roomcode

#193 Add support for PieceConfigAdjustedRule to set float properties.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
  HouseRules_Essentials/Rulesets/TheSwirlRuleset.cs
Labels: type: feature, area: houserules/essentials

#194 Provide more detail on how the mod works.
  DemeoMods.sln
  README.md
  docs/LuckyDip.json
  docs/skipintro_icon.jpg
Labels: type: documentation

#188 Add 'Hunters Paradise' ruleset.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules_Essentials/Rulesets/HuntersParadiseRuleset.cs
Labels: type: feature, area: houserules/essentials

#195 Fix mention of RulesAPI - we changed names.
  README.md
Labels: type: documentation

#198 A rule for adjusting the StatModifiers
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/StatModifiersOverridenRule.cs
Labels: type: feature, area: houserules/essentials

#199 Add a SettingsReference.md guide for BoardPieceIds, AbilityKeys, and other types
  HouseRules_Essentials/README.md
  docs/SettingsReference.md
  docs/scripts/list_demeo_config_values.py
Labels: type: documentation

#197 Three experimental rules for modifying Piece Abilities, Behaviours and PieceType lists
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/PieceAbilityListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceBehavioursListOverriddenRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
Labels: type: feature, area: houserules/essentials

#201 Modify description of rulesets. Fix typos. Tweak JSON docs alignments.
  HouseRules_Core/HR.cs
  HouseRules_Core/README.md
  HouseRules_Core/Types/Ruleset.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rulesets/DifficultyEasyRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyHardRuleset.cs
  HouseRules_Essentials/Rulesets/DifficultyLegendaryRuleset.cs
  HouseRules_Essentials/Rulesets/NoSurprisesRuleset.cs
  HouseRules_Essentials/Rulesets/QuickandDeadRuleset.cs
  HouseRules_Essentials/Rulesets/SampleRuleset.cs
  README.md
Labels: type: documentation, area: houserules/core

#202 Moves temporary example code to a separate file.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/ExampleRulesetExporter.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
Labels: type: chore, area: houserules/configuration

#200 Display ingame notification if custom ruleset issues are encountered during startup.
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/ExampleRulesetExporter.cs
Labels: type: feature, area: houserules/configuration

#204 Add mod-specific changelog configuration.
  HouseRules_Configuration/.github_changelog_generator
  HouseRules_Core/.github_changelog_generator
  HouseRules_Essentials/.github_changelog_generator
  RoomCode/.github_changelog_generator
  RoomFinder/.github_changelog_generator
  RoomFinder/HISTORY.md
  SkipIntro/.github_changelog_generator
  SkipIntro/HISTORY.md
Labels: area: roomfinder, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#206 Increment SkipIntro and RoomFinder versions.
  RoomFinder/Properties/AssemblyInfo.cs
  SkipIntro/Properties/AssemblyInfo.cs
Labels: area: roomfinder, type: build, area: skipintro

#207 Set HouseRules version to 1.0.0, and update it's MelonID.
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#208 Generate HouseRules changelogs.
  HouseRules_Configuration/CHANGELOG.md
  HouseRules_Core/CHANGELOG.md
  HouseRules_Essentials/CHANGELOG.md
Labels: type: documentation, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#209 Update root changelog.
  .github_changelog_generator
  CHANGELOG.md
Labels: type: documentation

#214 Allow rediscovering Demeo resources, in case they are recreated.
  Common/UI/DemeoResource.cs
  Common/UI/UiHelper.cs
Labels: type: bug, area: utils/ui

#215 Cleanup - remove unused 'lookupstring' var
  HouseRules_Essentials/Rules/PieceAbilityListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceBehavioursListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rules/PieceImmunityListAdjustedRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
Labels: type: chore, area: houserules/essentials
