Repository orendain/DemeoMods, pull requests merged in 2022-04, with the labels that each got.

#272 A new rule for overriding the LevelSequence used in a game session.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/LevelSequenceOverriddenRule.cs
Labels: type: feature, area: houserules/essentials

#274 Trigger HouseRules activation when a player loads a save.
  HouseRules_Core/LifecycleDirector.cs
Labels: type: feature, area: houserules/core

#271 Update changelog for all HouseRules modules.
  HouseRules_Configuration/CHANGELOG.md
  HouseRules_Core/CHANGELOG.md
  HouseRules_Essentials/CHANGELOG.md
Labels: type: documentation, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#275 Extend LevelSequence rule to allow arbitrarily long sequences.
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/Rules/LevelSequenceOverriddenRule.cs
Labels: type: feature, area: houserules/essentials

#277 Update documentation with list of level names.
  DemeoMods.sln
  HouseRules_Essentials/README.md
  README.md
  docs/LevelNames.md
Labels: type: documentation, area: houserules/essentials

#278 Bump houserules to v1.3.0.
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#284 Replace names of Demeo paths with agnostic VR and PC names.
  Common/Common.csproj
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Essentials/HouseRules_Essentials.csproj
  RoomCode/RoomCode.csproj
  RoomFinder/RoomFinder.csproj
  SkipIntro/SkipIntro.csproj
Labels: area: roomfinder, area: utils/ui, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#289 Update changelog for RoomCode and SkipIntro.
  RoomCode/CHANGELOG.md
  SkipIntro/CHANGELOG.md
Labels: type: documentation, area: roomcode, area: skipintro

#293 Fix README.md link to LuckyDip ruleset
  HouseRules_Core/README.md
Labels: type: documentation, area: houserules/core

#294 Use headers to allow anchor links to rules
  HouseRules_Essentials/README.md
Labels: type: documentation, area: houserules/essentials

#291 New rule for controlling the duration of TileEffects.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/TileEffectDurationOverriddenRule.cs
Labels: type: feature, area: houserules/essentials

#295 Propose changes to Online_Version_Check branch.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  HouseRules_Core/BuildVersion.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#292 Online version check
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  HouseRules_Core/BuildVersion.cs
  HouseRules_Core/HouseRules_Core.csproj
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: feature, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#298 Update changelog for HouseRules and Roomfinder.
  HouseRules_Configuration/CHANGELOG.md
  HouseRules_Core/CHANGELOG.md
  HouseRules_Essentials/CHANGELOG.md
  RoomFinder/CHANGELOG.md
Labels: type: documentation, area: roomfinder, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#299 Update HR version to 1.4.0 for development.
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Core/BuildVersion.cs
Labels: type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#302 Enable HouseRules to run on PC edition.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
Labels: type: feature, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#304 Fix resetting the original value for adjusted AoE abilities.
  HouseRules_Essentials/Rules/AbilityAOEAdjustedRule.cs
Labels: type: bug, area: houserules/essentials

#305 Fix LevelExitLockedUntilAllEnemiesDefeated rule counting friendly monsters and spider eggs as monsters that must be killed.
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: bug, area: houserules/essentials

#306 Add a `ScheduleResync` method to allow rules to manually schedule resyncs.
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Core/HR.cs
Labels: type: feature, area: houserules/core

#307 Fix the door staying locked for players when using the `LevelExitLockedUntilAllEnemiesDefeated` rule.
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: bug, area: houserules/essentials

#308 Display HouseRules version on the UI.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
Labels: type: feature, area: houserules/configuration

#309 Apply partial semver checking when determining if an online version is an update.
  HouseRules_Configuration/ConfigurationMod.cs
Labels: type: chore, area: houserules/configuration

#311 Modify lamp type rule to support arbitrary number of levels.
  HouseRules_Essentials/Rules/LampTypesOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceConfigAdjustedRule.cs
  HouseRules_Essentials/Rulesets/EarthWindAndFire.cs
Labels: type: feature, area: houserules/essentials

#313 Simplify CardClassRestrictionOverrideRule
  HouseRules_Essentials/Rules/CardClassRestrictionOverriddenRule.cs
Labels: type: chore, area: houserules/essentials

#310 Improve performance of the board syncing feature.
  HouseRules_Core/BoardSyncer.cs
  HouseRules_Core/HR.cs
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: feature, area: houserules/core

#312 Perform maintenance on HouseRules modules.
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/HouseRules_Configuration.csproj
  HouseRules_Configuration/UI/RulesetSelectionUI.cs
  HouseRules_Configuration/VersionChecker.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/HR.cs
  HouseRules_Core/HangoutsGameRacer.cs
  HouseRules_Core/LifecycleDirector.cs
  HouseRules_Core/Rulebook.cs
  HouseRules_Essentials/Rules/BackstabConfigOverriddenRule.cs
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/SpawnCategoryOverriddenRule.cs
  HouseRules_Essentials/Rules/TileEffectDurationOverriddenRule.cs
  HouseRules_Essentials/Rulesets/DifficultyEasyRuleset.cs
  HouseRules_Essentials/Rulesets/EarthWindAndFire.cs
Labels: type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#318 Replace flawed AbilityDamageAdjusted rule with a better alternative.
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/HouseRules_Essentials.csproj
  HouseRules_Essentials/README.md
  HouseRules_Essentials/Rules/AbilityDamageAdjustedRule.cs
  HouseRules_Essentials/Rules/AbilityDamageOverriddenRule.cs
  HouseRules_Essentials/Rulesets/Arachnophobia.cs
  HouseRules_Essentials/Rulesets/EarthWindAndFire.cs
  HouseRules_Essentials/Rulesets/LuckyDip.cs
Labels: type: feature, area: houserules/essentials
