Repository orendain/DemeoMods, pull requests merged in 2023-10, with the labels that each got.

#513 Decouple HouseRules configuration loading logic from being dependent on MelonLoader as the underlying mod framework.
  .github/workflows/houserules.yml
  HouseRules.Configuration/BepInExPlugin.cs
  HouseRules.Configuration/ExampleRulesetExporter.cs
  HouseRules.Configuration/FodyWeavers.xml
  HouseRules.Configuration/HouseRulesConfigurationBase.cs
  HouseRules.Configuration/MelonLoaderMod.cs
  HouseRules.Configuration/RulesetImporter.cs
  HouseRules.Core/BoardSyncer.cs
  HouseRules.Core/HouseRulesCoreBase.cs
  HouseRules.Essentials/BepInExPlugin.cs
  HouseRules.Essentials/HouseRulesEssentialsBase.cs
Labels: type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#514 Fix privacy toggle not capturing updated PCVR field.
  HouseRules.Core/LifecycleDirector.cs
Labels: type: bug, area: houserules/core

#515 Avoid searching all types when loading a ruleset by filename.
  HouseRules.Configuration/RulesetImporter.cs
  HouseRules.Core/Rulebook.cs
Labels: type: chore, area: houserules/core, area: houserules/configuration

#518 Update exported example ruleset files.
  HouseRules.Configuration/HouseRules.Configuration.csproj
  HouseRules.Configuration/HouseRulesConfigurationBase.cs
  HouseRules.Configuration/RulesetImporter.cs
  docs/rulesets/(Custom) 3x3 Potions and Buffs.json
  docs/rulesets/(Custom) Arachnophobia.json
  docs/rulesets/(Custom) Beat The Clock!.json
  docs/rulesets/(Custom) Better Sorcerer.json
  docs/rulesets/(Custom) Demeo Reloaded.json
  docs/rulesets/(Custom) Demeo Revolutions.json
  docs/rulesets/(Custom) Difficulty Easy.json
  docs/rulesets/(Custom) Difficulty Hard.json
  docs/rulesets/(Custom) Difficulty Legendary.json
  docs/rulesets/(Custom) Earth Wind & Fire.json
  docs/rulesets/(Custom) Flipping Out!.json
  docs/rulesets/(Custom) Hardcore.json
  docs/rulesets/(Custom) Hoarders - Skirmish Only!.json
  docs/rulesets/(Custom) Hoarders.json
  docs/rulesets/(Custom) Hunter's Paradise.json
  docs/rulesets/(Custom) It's A Trap!.json
  docs/rulesets/(Custom) LuckyDip.json
  docs/rulesets/(Custom) Naked Run.json
  docs/rulesets/(Custom) No Surprises.json
  docs/rulesets/(Custom) None.json
  docs/rulesets/(Custom) Potion Commotion.json
  docs/rulesets/(Custom) Quick and the Dead.json
  docs/rulesets/(Custom) The Swirl.json
Labels: type: documentation, area: houserules/configuration

#517 Perform maintenance on, and speed up, RoomFinder.
  RoomFinder/FodyWeavers.xml
  RoomFinder/Patcher.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/RoomFinderBase.cs
  RoomFinder/RoomManager.cs
  RoomFinder/SharedState.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: area: roomfinder, type: chore

#519 Fix privacy toggle not capturing updated PCVR field.
  HouseRules.Core/LifecycleDirector.cs
Labels: type: bug, area: houserules/core

#520 Split long lines and perform some maintenance.
  .github/workflows/advancedstats.yml
  .github/workflows/houserules.yml
  .github/workflows/roomcode.yml
  .github/workflows/roomfinder.yml
  AdvancedStats/AdvancedStatsBase.cs
  AdvancedStats/BepInExPlugin.cs
  AdvancedStats/MelonLoaderMod.cs
  DemeoMods.sln
  Highlighter/HighlighterBase.cs
  Highlighter/MelonLoaderMod.cs
  HouseRules.Configuration/BepInExPlugin.cs
  HouseRules.Configuration/MelonLoaderMod.cs
  HouseRules.Configuration/RulesetImporter.cs
  HouseRules.Configuration/VersionChecker.cs
  HouseRules.Core/BoardSyncer.cs
  HouseRules.Core/HR.cs
  HouseRules.Core/HouseRulesCoreBase.cs
  HouseRules.Core/MelonLoaderMod.cs
  HouseRules.Core/Types/Ruleset.cs
  HouseRules.Essentials/MelonLoaderMod.cs
  RoomCode/MelonLoaderMod.cs
  RoomCode/RoomCodeBase.cs
  RoomFinder/MelonLoaderMod.cs
  RoomFinder/RoomFinderBase.cs
  RoomFinder/RoomManager.cs
  SkipIntro/MelonLoaderMod.cs
  SkipIntro/SkipIntro.csproj
  SkipIntro/SkipIntroBase.cs
Labels: area: roomfinder, type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro, area: advancedstats, area: highlighter

#521 Bump minimum required version of MelonLoader to `0.5.7`.
  .editorconfig
  Highlighter/MelonLoaderMod.cs
  HouseRules.Configuration/MelonLoaderMod.cs
  HouseRules.Core/MelonLoaderMod.cs
  HouseRules.Essentials/MelonLoaderMod.cs
  RoomCode/MelonLoaderMod.cs
  RoomFinder/MelonLoaderMod.cs
  SkipIntro/MelonLoaderMod.cs
Labels: area: roomfinder, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro, area: highlighter

#522 Longdesc wasn't working as intended
  HouseRules.Configuration/UI/HouseRulesUiGameVr.cs
  HouseRules.Core/LifecycleDirector.cs
Labels: type: bug, area: houserules/core, area: houserules/configuration

#523 Fix `LevelExitLockedUntilOneHeroRemainsRule` triggering on _all_ interactables.
  HouseRules.Essentials/Rules/LevelExitLockedUntilOneHeroRemainsRule.cs
Labels: type: bug, area: houserules/essentials
