Repository orendain/DemeoMods, pull requests merged in 2023-09, with the labels that each got.

#488 Update RoomFinder to be compatible with Demeo 2023/09/07 update.
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: type: bug, area: roomfinder

#487 Fix HouseRules for 9/7/23 Demeo update
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
  HouseRules_Essentials/Rules/LevelSequenceOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceDownedCountAdjustedRule.cs
  HouseRules_Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules_Essentials/Rulesets/Arachnophobia.cs
  HouseRules_Essentials/Rulesets/BeatTheClockRuleset.cs
  HouseRules_Essentials/Rulesets/DemeoReloaded.cs
  HouseRules_Essentials/Rulesets/HuntersParadiseRuleset.cs
  HouseRules_Essentials/Rulesets/ItsATrapRuleset.cs
  HouseRules_Essentials/Rulesets/LuckyDip.cs
Labels: area: houserules/essentials

#489 Update build dependencies for 2023-09-08.
  .github/workflows/roomcode.yml
  .github/workflows/roomfinder.yml
  .github/workflows/skipintro.yml
Labels: type: build

#491 Update build dependencies for 2023-09-08.
  .github/workflows/houserules.yml
Labels: type: build

#493 Recognize GitHub pipeline changes when labelling PRs.
  .github/labeler.yml
Labels: type: build, area: misc

#492 Update the `author` field to correctly reflect the team behind the develpment effort.
  HouseRules_Configuration/Properties/AssemblyInfo.cs
  HouseRules_Core/Properties/AssemblyInfo.cs
  HouseRules_Essentials/Properties/AssemblyInfo.cs
  RoomCode/Properties/AssemblyInfo.cs
  RoomFinder/Properties/AssemblyInfo.cs
  SkipIntro/Properties/AssemblyInfo.cs
Labels: area: roomfinder, type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro

#484 Fix blank Longdesc
  HouseRules_Configuration/UI/HouseRulesUiGameVr.cs
  HouseRules_Core/LifecycleDirector.cs
Labels: area: houserules/core, area: houserules/configuration

#494 Update RoomFinder Build Version
  RoomFinder/BuildVersion.cs
Labels: area: roomfinder

#497 Adust file naming to be consistent with how files are referenced.
  HouseRules_Essentials/Rules/AbilityAoeAdjustedRule.cs
  HouseRules_Essentials/Rulesets/QuickAndDeadRuleset.cs
Labels: type: bug, area: houserules/essentials

#495 Introduce Highlighter Mod.
  .github/labeler.yml
  .github/workflows/highlighter.yml
  DemeoMods.sln
  Highlighter/Highlighter.csproj
  Highlighter/HighlighterMod.cs
  Highlighter/MoveHighlighter.cs
  Highlighter/Properties/AssemblyInfo.cs
Labels: type: feature, area: highlighter

#499 Seperate monolithic `Common` project into individual subprojects.
  .github/labeler.yml
  Common.UI/Common.UI.csproj
  Common.UI/Element/HangoutsElementCreator.cs
  Common.UI/Element/IElementCreator.cs
  Common.UI/Element/NonVrElementCreator.cs
  Common.UI/Element/VrElementCreator.cs
  Common.UI/Environments.cs
  Common.UI/PageStack.cs
  Common.UI/PageStackNavigation.cs
  Common.UI/Properties/AssemblyInfo.cs
  Common.UI/Resource/NonVrResourceTable.cs
  Common.UI/Resource/VrResourceTable.cs
  Common/CommonModule.cs
  DemeoMods.sln
  HouseRules_Configuration/HouseRules_Configuration.csproj
  RoomFinder/RoomFinder.csproj
Labels: area: roomfinder, area: common, area: houserules/configuration, area: common/ui

#500 Adjust privacy modifiers to allow the common library to be used externally.
  .github/labeler.yml
  Common.UI/Element/HangoutsElementCreator.cs
  Common.UI/Element/NonVrElementCreator.cs
  Common.UI/Element/VrElementCreator.cs
  Common.UI/Resource/NonVrResourceTable.cs
  Common.UI/Resource/VrResourceTable.cs
Labels: area: common/ui

#504 Retarget documentation links to the newly-renamed HouseRules directories.
  CHANGELOG.md
  HouseRules.Core/README.md
  HouseRules.Essentials/README.md
  HouseRules_Essentials/Rules/AbilityAoeAdjustedRule.cs
  HouseRules_Essentials/Rulesets/QuickAndDeadRuleset.cs
  README.md
  docs/rulesets/README.txt
Labels: type: documentation, area: houserules/essentials, area: houserules/core

#503 Draw line-of-sight highlights on a different layer than player move highlights.
  Highlighter/MoveHighlighter.cs
Labels: type: feature, area: highlighter

#505 Add new rule, `LevelExitLockedUntilOneHeroRemainsRule`, which prohibts players from exiting levels unless they are the last hero remaining.
  HouseRules.Essentials/EssentialsMod.cs
  HouseRules.Essentials/HouseRules.Essentials.csproj
  HouseRules.Essentials/Rules/LevelExitLockedUntilOneHeroRemainsRule.cs
Labels: type: feature, area: houserules/essentials

#506 Introduce BepInEx 5.x as a compilation target for SkipIntro mod.
  .github/workflows/skipintro.yml
  DemeoMods.sln
  NuGet.Config
  SkipIntro/BepInExPlugin.cs
  SkipIntro/MelonLoaderMod.cs
  SkipIntro/ModPatcher.cs
  SkipIntro/Properties/AssemblyInfo.cs
  SkipIntro/SkipIntro.csproj
  SkipIntro/SkipIntroBase.cs
  SkipIntro/SkipIntroMod.cs
Labels: type: feature, area: skipintro

#507 Introduce BepInEx 5.x as a compilation target for RoomCode mod.
  .github/workflows/roomcode.yml
  DemeoMods.sln
  RoomCode/BepInExPlugin.cs
  RoomCode/MelonLoaderMod.cs
  RoomCode/ModPatcher.cs
  RoomCode/Properties/AssemblyInfo.cs
  RoomCode/RoomCode.csproj
  RoomCode/RoomCodeBase.cs
  RoomCode/RoomCodeMod.cs
Labels: type: feature, area: roomcode

#508 Introduce BepInEx 5.x as a compilation target for RoomFinder mod.
  .github/workflows/roomfinder.yml
  Common.UI/Common.UI.csproj
  Common.UI/Properties/AssemblyInfo.cs
  DemeoMods.sln
  RoomFinder/BepInExPlugin.cs
  RoomFinder/BuildVersion.cs
  RoomFinder/MelonLoaderMod.cs
  RoomFinder/Patcher.cs
  RoomFinder/Properties/AssemblyInfo.cs
  RoomFinder/RoomFinder.csproj
  RoomFinder/RoomFinderBase.cs
  RoomFinder/RoomFinderMod.cs
  RoomFinder/UI/RoomFinderUiNonVr.cs
  RoomFinder/UI/RoomFinderUiVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: type: feature, area: roomfinder, area: common/ui

#509 Introduce BepInEx 5.x as a compilation target for Highlighter mod.
  .github/workflows/highlighter.yml
  DemeoMods.sln
  Highlighter/BepInExPlugin.cs
  Highlighter/Highlighter.csproj
  Highlighter/HighlighterBase.cs
  Highlighter/HighlighterMod.cs
  Highlighter/MelonLoaderMod.cs
  Highlighter/Properties/AssemblyInfo.cs
Labels: type: feature, area: highlighter

#510 Introduce BepInEx 5.x as a compilation target for AdvancedStats mod.
  .github/workflows/advancedstats.yml
  AdvancedStats/AdvancedStats.csproj
  AdvancedStats/AdvancedStatsBase.cs
  AdvancedStats/AdvancedStatsMod.cs
  AdvancedStats/BepInExPlugin.cs
  AdvancedStats/MelonLoaderMod.cs
  AdvancedStats/Properties/AssemblyInfo.cs
  DemeoMods.sln
Labels: type: feature, area: advancedstats

#511 Introduce BepInEx 5.x as a compilation target for HouseRules.
  .github/workflows/houserules.yml
  DemeoMods.sln
  HouseRules.Configuration/BepInExPlugin.cs
  HouseRules.Configuration/ConfigManager.cs
  HouseRules.Configuration/ExampleRulesetExporter.cs
  HouseRules.Configuration/HouseRules.Configuration.csproj
  HouseRules.Configuration/HouseRulesConfigurationBase.cs
  HouseRules.Configuration/MelonLoaderMod.cs
  HouseRules.Configuration/Properties/AssemblyInfo.cs
  HouseRules.Configuration/UI/HouseRulesUiGameVr.cs
  HouseRules.Configuration/UI/HouseRulesUiHangouts.cs
  HouseRules.Configuration/UI/HouseRulesUiNonVr.cs
  HouseRules.Configuration/UI/HouseRulesUiVr.cs
  HouseRules.Configuration/VersionChecker.cs
  HouseRules.Core/BepInExPlugin.cs
  HouseRules.Core/CoreMod.cs
  HouseRules.Core/HR.cs
  HouseRules.Core/HouseRules.Core.csproj
  HouseRules.Core/HouseRulesCoreBase.cs
  HouseRules.Core/LifecycleDirector.cs
  HouseRules.Core/MelonLoaderMod.cs
  HouseRules.Core/Properties/AssemblyInfo.cs
  HouseRules.Core/Rulebook.cs
  HouseRules.Essentials/BepInExPlugin.cs
  HouseRules.Essentials/HouseRules.Essentials.csproj
  HouseRules.Essentials/HouseRulesEssentialsBase.cs
  HouseRules.Essentials/MelonLoaderMod.cs
  HouseRules.Essentials/Properties/AssemblyInfo.cs
  HouseRules.Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
  HouseRules.Essentials/Rules/MonsterDeckOverriddenRule.cs
  HouseRules.Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules.Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules.Essentials/Rules/TurnOrderOverriddenRule.cs
Labels: type: feature, area: houserules/essentials, area: houserules/core, area: houserules/configuration

#512 Embed Common.UI library into resulting DLL.
  HouseRules.Configuration/FodyWeavers.xml
  HouseRules.Configuration/FodyWeavers.xsd
  HouseRules.Configuration/HouseRules.Configuration.csproj
  RoomFinder/FodyWeavers.xml
  RoomFinder/FodyWeavers.xsd
  RoomFinder/RoomFinder.csproj
Labels: type: feature, area: roomfinder, area: houserules/configuration
