Repository orendain/DemeoMods, pull requests merged in 2023-05, with the labels that each got.

#468 Separate GitHub workflow CIs into mod-specific individual ones.
  .github/workflows/advancedstats.yml
  .github/workflows/build.yml
  .github/workflows/houserules.yml
  .github/workflows/roomcode.yml
  .github/workflows/roomfinder.yml
  .github/workflows/skipintro.yml
Labels: area: roomfinder, type: build, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro, area: advancedstats

#471 Dependency inject an `IElementCreator` into Page stacks rather than creating one internally.
  Common/UI/PageStack.cs
  Common/UI/PageStackNavigation.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Configuration/UI/RulesetListPanelVr.cs
  RoomFinder/UI/RoomListPanelNonVr.cs
  RoomFinder/UI/RoomListPanelVr.cs
Labels: area: common, type: chore

#474 Apply general maintenance.
  .github/workflows/advancedstats.yml
  .github/workflows/houserules.yml
  .github/workflows/roomcode.yml
  .github/workflows/roomfinder.yml
  .github/workflows/skipintro.yml
  AdvancedStats/AdvancedStatsMod.cs
  AdvancedStats/Properties/AssemblyInfo.cs
  Common/CommonModule.cs
  Common/UI/Environments.cs
  HouseRules_Configuration/ConfigManager.cs
  HouseRules_Configuration/ConfigurationMod.cs
  HouseRules_Configuration/UI/RulesetListPanelNonVr.cs
  HouseRules_Core/CoreMod.cs
  HouseRules_Core/LifecycleDirector.cs
  HouseRules_Essentials/EssentialsMod.cs
  HouseRules_Essentials/Rules/CardAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardChestAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/CardEnergyAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/EnemyRespawnDisabledRule.cs
  HouseRules_Essentials/Rules/GoldPickedUpMultipliedRule.cs
  HouseRules_Essentials/Rules/MonsterDeckOverriddenRule.cs
  HouseRules_Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  HouseRules_Essentials/Rules/PetsFocusHunterMarkRule.cs
  HouseRules_Essentials/Rules/PiecePieceTypeListOverriddenRule.cs
  HouseRules_Essentials/Rules/PieceUseWhenKilledOverriddenRule.cs
  HouseRules_Essentials/Rules/PotionAdditionOverriddenRule.cs
  HouseRules_Essentials/Rules/RoundCountLimitedRule.cs
  HouseRules_Essentials/Rules/SpawnCategoryOverriddenRule.cs
  HouseRules_Essentials/Rules/StartCardsModifiedRule.cs
  HouseRules_Essentials/Rulesets/ItsATrapRuleset.cs
  RoomCode/RoomCodeMod.cs
  RoomFinder/RoomFinderMod.cs
  SkipIntro/SkipIntroMod.cs
Labels: area: roomfinder, area: common, type: chore, area: houserules/essentials, area: houserules/core, area: houserules/configuration, area: roomcode, area: skipintro, area: advancedstats

#475 Remove references to now-unneeded button handler for Hangouts.
  Common/Common.csproj
  Common/CommonModule.cs
  Common/Patcher.cs
  Common/UI/Element/HangoutsElementCreator.cs
  HouseRules_Configuration/ConfigurationMod.cs
  RoomFinder/RoomFinderMod.cs
Labels: area: roomfinder, area: common, type: chore, area: houserules/configuration

#469 Automatically label PRs based on files modified.
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: type: build, area: misc

#476 Fix `LevelExitLockedUntilAllEnemiesDefeatedRule` not correctly unlocking door when all enemies were defeated.
  HouseRules_Essentials/Rules/LevelExitLockedUntilAllEnemiesDefeatedRule.cs
Labels: type: bug, area: houserules/essentials

#477 Fixes menu issues...
  HouseRules_Configuration/ConfigurationMod.cs
  RoomFinder/RoomFinderMod.cs
Labels: area: roomfinder, area: houserules/configuration
