Repository orendain/DemeoMods, pull requests merged in 2025-06, with the labels that each got.

#543 Partial Fix for latest game update
  HouseRules.Core/BoardSyncer.cs
  HouseRules.Core/BuildVersion.cs
  HouseRules.Essentials/README.md
  HouseRules.Essentials/Rules/EnemyHealthScaledRule.cs
  HouseRules.Essentials/Rules/StartCardsModifiedRule.cs
  HouseRules.Essentials/Rules/TurnOrderOverriddenRule.cs
  HouseRules.Essentials/Rulesets/AoePotionsAndBuffsRuleset.cs
  HouseRules.Essentials/Rulesets/Arachnophobia.cs
  HouseRules.Essentials/Rulesets/DemeoReloaded.cs
  HouseRules.Essentials/Rulesets/EarthWindAndFire.cs
  HouseRules.Essentials/Rulesets/FlippingOut.cs
  HouseRules.Essentials/Rulesets/HuntersParadiseRuleset.cs
  HouseRules.Essentials/Rulesets/ItsATrapRuleset.cs
  HouseRules.Essentials/Rulesets/LuckyDip.cs
  HouseRules.Essentials/Rulesets/NakedRunRuleset.cs
  HouseRules.Essentials/Rulesets/PotionCommotionRuleset.cs
  HouseRules.Essentials/Rulesets/TheSwirlRuleset.cs
  docs/SettingsReference.md
  docs/rulesets/(Custom) 3x3 Potions and Buffs.json
  docs/rulesets/(Custom) Arachnophobia.json
  docs/rulesets/(Custom) Demeo Reloaded.json
  docs/rulesets/(Custom) Hunter's Paradise.json
  docs/rulesets/(Custom) LuckyDip.json
  docs/rulesets/(Custom) The Swirl.json
Labels: area: houserules/essentials, area: houserules/core

#545 Update Highlighter to work with Demeo 1.39.
  Highlighter/MoveHighlighter.cs
Labels: type: feature, area: highlighter

#546 Increase line of sight distance rendered.
  Highlighter/MoveHighlighter.cs
Labels: type: feature, area: highlighter

#547 Update RoomFinder to be compatible with Demeo 1.39 (NonVR Steam).
  RoomFinder/RoomFinderBase.cs
  RoomFinder/RoomManager.cs
Labels: type: feature, area: roomfinder

#548 Update SkipIntro to work with Demeo 1.39.
  SkipIntro/ModPatcher.cs
Labels: area: skipintro

#549 Update RoomFinder to be compatible with Demeo 1.39 (VR and NonVR Quest/Steam versions).
  RoomFinder/RoomFinderBase.cs
Labels: type: feature, area: roomfinder

#552 Update for release versions
  Highlighter/HighlighterBase.cs
  RoomFinder/RoomFinderBase.cs
  SkipIntro/SkipIntroBase.cs
Labels: area: roomfinder, area: skipintro, area: highlighter

#562 Replaced with Exterminate
  HouseRules.Essentials/Rulesets/Arachnophobia.cs
  HouseRules.Essentials/Rulesets/DemeoReloaded.cs
  HouseRules.Essentials/Rulesets/FlippingOut.cs
Labels: area: houserules/essentials

#563 Replaced with EyeOfAvalon
  HouseRules.Essentials/Rulesets/Arachnophobia.cs
  HouseRules.Essentials/Rulesets/ItsATrapRuleset.cs
Labels: area: houserules/essentials

#566 Change to proper ability
  HouseRules.Essentials/Rulesets/DemeoReloaded.cs
  HouseRules.Essentials/Rulesets/ItsATrapRuleset.cs
  HouseRules.Essentials/Rulesets/TheSwirlRuleset.cs
Labels: area: houserules/essentials

#565 Fix OneMoreThing and AdamantPotion
  HouseRules.Essentials/Rulesets/AoePotionsAndBuffsRuleset.cs
  HouseRules.Essentials/Rulesets/Arachnophobia.cs
  HouseRules.Essentials/Rulesets/DemeoReloaded.cs
  HouseRules.Essentials/Rulesets/EarthWindAndFire.cs
  HouseRules.Essentials/Rulesets/LuckyDip.cs
  HouseRules.Essentials/Rulesets/TheSwirlRuleset.cs
Labels: area: houserules/essentials

#557 Two point OOOOOOH!
  HouseRules.Core/BuildVersion.cs
Labels: area: houserules/core

#569 Update README.md
  HouseRules.Essentials/README.md
Labels: area: houserules/essentials

#570 Simple fix
  HouseRules.Essentials/Rules/StatusEffectConfigRule.cs
Labels: area: houserules/essentials

#571 Also renamed rule
  HouseRules.Essentials/HouseRulesEssentialsBase.cs
  HouseRules.Essentials/Rules/PartyDamageOverriddenRule.cs
  HouseRules.Essentials/Rules/PartyElectricityDamageOverriddenRule.cs
  HouseRules.Essentials/Rulesets/BetterSorcererRuleset.cs
Labels: area: houserules/essentials

#575 Fix multiple, overlapping, instances HouseRules UI appearing.
  Common.UI/Environments.cs
  Common.UI/PageStackNavigation.cs
  HouseRules.Configuration/HouseRulesConfigurationBase.cs
Labels: type: bug, area: houserules/configuration
